.footer {
  padding: 82px 0px;
  color: azure;
  background: rgba(14, 16, 20, 0.9);
  border-top: 1px solid #4e4e4e;
  backdrop-filter: blur(1px);
  border-radius: 20px 20px 0px 0px;
  &__box{
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  &__text1{
    display: flex;
    align-items: center;
    gap: 15px;

    
  }
  &__text2{
    width: 434px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    color: white;
  }
  &__text3__1{
    display: flex;
    align-items: center;
    gap: 10px;
    column-gap: 10px;
  }
  &__text3{
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  &__img{
    display: flex;
    align-items: center;
    gap: 33px;
  }
}
